
  .default {
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    padding: 10px 12px;
    gap: 8px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #828282;
    background-color: white;
    color:#585858;
    // &:hover {
    //   background-color: #2980b9;
    // }
    
  }

  .active{
    @extend .default ;
    border: none;
    color:white;
    background-color: #1B1B1B;
  }




