.card {
}
.card__image_container {
  display: flex;
  gap: 12px;
  overflow: auto;
}
.card__image {
  max-width: 200px;
  aspect-ratio: 1;
}
.card__container {
  overflow: hidden;
  padding: 20px;
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  aspect-ratio: 1;
}
